* {
    box-sizing: border-box;    
}
html, body {
    margin:0;
    padding:0;
    height:100%;
    }

/******************************
** colors and typography
****************************** */
body {
    background-color: #f4f4f4;
    font-family: 'Abel', sans-serif;
    background:linear-gradient(rgba(255, 187, 0, 0.85), 5%,rgba(255, 123, 0, 0.125) 55%) fixed;
    color:#3f3111;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Lilita One', cursive;
    color: #ecd28f;
    text-shadow: 1px 1px 0 black,
        -1px 1px 0 black,
        1px -1px 0 black,
        -1px -1px 0 black,
        2px 2px 4px #7c4404;
    letter-spacing: 3px;
}
h1 {
    color:#ff8800;
    font-size: 2.5em;
    text-shadow: 1px 1px 0 rgb(123, 172, 10),
        -1px 1px 0 rgb(123, 172, 10),
        1px -1px 0 rgb(123, 172, 10),
        -1px -1px 0 rgb(123, 172, 10),
        2px 2px 4px #7c4404;
}
a:link {
    color: #037215;
    transition: .5s;
}
a:visited {
    color: #6fbd68;
}
a:hover {
    color: #ff8800;
    transition: 1.5s;
}
a:focus {
    color: red;
}
a:active {
    color: #ab3c99;
}
.kale {
    text-shadow: 1px 1px 0 #037215,
    -1px 1px 0 #037215,
    1px -1px 0 #037215,
    -1px -1px 0  #037215,
    2px 2px 4px #7c4404;
}
.citrus {
    text-shadow: 1px 1px 0 yellow,
        -1px 1px 0 yellow,
        1px -1px 0 yellow,
        -1px -1px 0 yellow,
        2px 2px 4px #7c4404;
}
.quinoa {
    text-shadow:1px 1px 0 rgb(182, 147, 50),
        -1px 1px 0 rgb(182, 147, 50),
        1px -1px 0 rgb(182, 147, 50),
        -1px -1px 0 rgb(182, 147, 50),
        2px 2px 4px #7c4404;
}
p {
    color: #78391a;

}
img {
    border: 2px solid #3c6d8a;
}
figcaption {
    color: #866a38;
    font-size:.8em;
    font-style: italic;
}
li {
    line-height: 1.75;
}
.left,.right {
    background-color: rgba(255,255,255,0.65);
}
.intro {
    background:linear-gradient(rgba(255, 175, 135, 0.65) 2.5%,rgba(240,220,185,0.125) 99%);
    color: #037215;
}

/******************************
** box model, layout
****************************** */

img {
    width: 98%;
    max-width: 100%;
}
figure {
    width:100%;
    margin: 1.5em 0;
    padding: 0;
}
.extra-pics figure {
    width: 49%;
    margin: 0;
    display: inline-block;
}
.extra-pics img{
    border: 0 none;
}
.top {
    padding:0 2%;
}
.left,.right {
    margin: .25em 2%;
    padding: 1em 2.5%;
}
.intro {
    margin:0;
    padding: 1em 2.5%;
}
footer.page-footer {
    clear: both;
    margin-top: 2em;
    padding: 2em;
}
#kale-picture {
    max-width: 100%;
    clip-path: polygon(0% 40%, 3% 39%, 7% 41%, 5% 44%, 0% 51%, 0% 57%, 2% 64%, 12% 67%, 11% 72%, 7% 72%, 4% 79%, 5% 82%, 8% 79%, 12% 80%, 14% 76%, 18% 76%, 15% 85%, 20% 98%, 26% 96%, 30% 90%, 33% 93%, 33% 95%, 38% 96%, 45% 93%, 45% 86%, 52% 76%, 54% 78%, 56% 68%, 58% 63%, 67% 59%, 72% 58%, 84% 57%, 90% 59%, 91% 48%, 94% 48%, 96% 47%, 98% 51%, 98% 45%, 94% 32%, 77% 17%, 62% 8%, 55% 7%, 54% 4%, 48% 0%, 45% 5%, 42% 1%, 40% 4%, 32% 1%, 28% 4%, 26% 4%, 20% 10%, 15% 15%, 8% 19%, 0% 38%, 3% 39%);
}


/*************************************
** Media queries
 *************************************/
@media (max-width: 600px) {
    body {
        font-size: 135%;
    }
}
@media (min-width:505px) {
    body {
        background:linear-gradient(rgba(255, 115, 0, 0.85), 5%,rgba(255, 254, 211, 0.541) 35%) fixed;
     }
     h1 {
         font-size:2.85em;
     }
}
@media (min-width:568px) {
    h1 {
        font-size: 2em;
    }
}
@media (min-width:590px) {
    body {
        background:linear-gradient(rgba(173, 255, 66, 0.85), 5%,rgba(255, 235, 220, 0.125) 35%) fixed;
     }
}
@media (min-width:600px) {
    h1 {
        font-size: 2.7em;
    }
}
@media (min-width:700px) {
    body {
       background:linear-gradient(rgba(255, 251, 0, 0.85), 5%,rgba(255, 250, 185, 0.125) 35%) fixed;
    }
    h1 {
        background:linear-gradient(90deg yellow,green);
        padding:.25em 2.5%;
        color:#ff8800;
    }
    h2 {
        font-size: 1.25em;
    }
    /* .intro {
        width: 32em;
    } */
    .left, .intro {
        float: left;
        width:40%;
        margin-right: 10px;
    }
    .right, .extra-pics {
        float:right;
        width:42%;
    }
    .left {
        clear: both;
    }
@media (min-width:772px) {
    h1 {
        font-size: 3.5em;
    }
}