html, body {
  height: 100%;
  padding: 0;
  margin: 0
}
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 115%;
  background-image: linear-gradient(rgba(253, 248, 248, 0.85),rgba(200,190,190,0.75) 90%);
  line-height: 1.5;
}
h1 {
  color: rgb(130,70,30);
}
ul, ol {
  list-style-position: inside;
}
#event {
  background-color: rgba(250,250,250,0.5);
  border-radius: 5px;
  padding: 1rem 2.5%;
  list-style-type: none;
}
#event li {
  padding: 1rem 2.5% 1.25rem;
  border-bottom: 1px solid white;
  margin-bottom: .5rem;
  
}
#event li:last-child {
  border: none;
}
#slider-form {
  background-color: rgb(253, 245, 203);
  padding: 1rem;
}
.page-header {
  padding: 1.25rem 2.5% 1rem;
  background-color: coral;
}
.event {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(130,70,30);
  background-color: rgb(253, 245, 203);
  display: inline-block;
  padding: auto 5%;
}
.date {
  color: rgb(130,70,30);
}
.cheap-ticket-ad {
  font-weight: bold;
  background-color: rgba(32, 178, 171, 0.125);
  padding: .25rem 2.5%;
}

label,#min-price,#max-price {
  display: inline-block;
  width: 48.5%;
  font-size: 2em;
  color: rgb(130,70,30);
  text-align: center;
}
@media (min-width:768px) {
  #event {
    margin: 0 auto;
    max-width: 30rem;
    border: 1px solid white;
  }
}